# Project directories
media/
staticfiles/
logs/
upload_data_cache/
**/version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# dotenv
.env
.env.port

# virtualenv
venv/
ENV/

# Django stuff:
*.log
local_settings.py

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3

# Vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
