Django==1.10.3
django-extensions==1.6.7
https://static.dpaw.wa.gov.au/static/py/dpaw-utils/dist/dpaw-utils-0.3a11.tar.gz
django-tastypie==0.13.3
django-geojson==2.9.1
django-leaflet==0.19.0
dj-static==0.0.6
slimit==0.8.1
unicodecsv==0.14.1
pytz==2016.7
mixer==5.5.5
six==1.10.0
