[uwsgi]
# Django-related settings
chdir           = /var/www/resourcetracking-<PROD|UAT|DEV>.<PORT>/
home            = %(chdir)venv
module          = resource_tracking.wsgi

# Process-related settings
auto-procname   = true
hook-pre-app    = exec:venv/bin/python manage.py collectstatic --noinput
static-map      = /static=%(chdir)staticfiles
static-cache-paths = 30
socket          = :<PORT>
die-on-term     = true
# Cron task: harvest new device tracking data every minute.
cron2           = minute=-1,unique=1 venv/bin/python manage.py harvest
# Weather station polling script (should run forever with Resource Tracking application)
attach-daemon2  = exec=venv/bin/python pollstations.py

# Required to be in the app config file for %n to work
procname-prefix = %n/
touch-reload    = %d%n.ini
stats           = /var/spool/uwsgi/sockets/stats_%n.sock
logto           = /var/log/uwsgi/%n.log
