{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{{ page_title }}" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author"
              content="Department of Biodiversity, Conservation and Attractions" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <!-- CSS styling blocks -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
              integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
              integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block bodycontent %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
                integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {% comment %}Make additional Javascript variables available from passed-in context.{% endcomment %}
        {{ javascript_context|json_script:"javascript_context" }}
        {% block extrajs %}{% endblock %}
    </body>
</html>
