{% extends 'tracking/device_base.html' %}
{% block bodycontent %}
    <div class="container-fluid p-0">
        <div class="row m-1">
            <div class="col-8 col-sm-7">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8">
                    <form action="" method="get" class="mb-2">
                        <input id="search_field"
                               type="text"
                               class="form-control"
                               name="q"
                               placeholder="Search rego, callsign, etc..."
                               value="{{ query_string }}" />
                    </form>
                    {% include "tracking/pagination.html" %}
                </div>
            </div>
            <div class="col-4 col-sm-5">
                <div class="vstack gap-1">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary"
                           title="Map showing all devices"
                           href="{% url 'tracking:device_map' %}"
                           role="button"><i class="fa-solid fa-map"></i> Map</a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary me-1"
                           title="Download list of devices (CSV)"
                           href="{% url 'tracking:device_download' %}?format=csv"
                           role="button"><i class="fa-solid fa-download"></i> CSV</a>
                        <a class="btn btn-primary me-1"
                           title="Download list of devices (GeoJSON)"
                           href="{% url 'tracking:device_download' %}"
                           role="button"><i class="fa-solid fa-download"></i> GeoJSON</a>
                        <a class="btn btn-primary"
                           title="Download list of devices (GPKG)"
                           href="{% url 'tracking:device_download' %}?format=gpkg"
                           role="button"><i class="fa-solid fa-download"></i> GPKG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 align-items-stretch" style="min-height: 80vh">
        <div class="col m-0 p-0">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Registration</th>
                        <th>Type</th>
                        <th>Region/District</th>
                        <th class="d-none d-md-table-cell">Last seen</th>
                        <th class="d-none d-md-table-cell"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>
                                <a class="btn btn-primary"
                                   title="Device {{ object.deviceid }} detail view"
                                   href="{% url 'tracking:device_detail' pk=object.pk %}">
                                    <i class="fa-solid fa-circle-info"></i>
                                {{ object.deviceid }}</a>
                            </td>
                            <td>{{ object.registration }}</td>
                            <td>{{ object.symbol|capfirst }}</td>
                            <td>{{ object.get_district_display }}</td>
                            <td class="d-none d-md-table-cell">{{ object.seen }}</td>
                            <td class="d-none d-md-table-cell">
                            <a class="btn btn-primary"
                               title="Download device {{ object.deviceid }} route"
                               href="{% url 'tracking:device_route' pk=object.pk %}"><i class="fa-solid fa-draw-polygon"></i>
                            <span class="d-none d-lg-inline">Route</span>
                        </a>
                        {% if object.user_editable %}
                            <a class="btn btn-primary"
                               href="{% url 'tracking:device_update' pk=object.pk %}"><i class="fa-solid fa-pencil"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
