body {
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
}
#print_container {
    padding: 0mm;
    height:100%;
    width:100%;
}
#content_container {
    padding: 0mm;
    height:100%;
    width:100%;
}
#content_header {
    position: absolute;
    top: 5mm;
    left:5mm;
    border-style: none;
    border-width:3px;
    border-color:red;
    z-index:1999999999
}
#content_footer {
    position: absolute;
    left: 5mm;
    border-style: none;
    border-width:3px;
    border-color:red;
    z-index:1999999999
}
#map {
    position: absolute;
    top: 12mm;
    left:5mm;
    border-style: solid;
    border-width:5px;
    border-color:black;
    transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
}
#print_footer {
    position: absolute;
    top: 240mm;
    left:5mm;
    width:100%;
    z-index:1999999999
}
#print_footer table,#content_header table,#content_footer table{
    width:100%
}
#print_footer th{
    width:50px;
    white-space:nowrap
}
#print_footer_left {
    text-align:left;
    width:30%;
}
#print_footer_center {
    text-align:center;
    width:40%;
}
#print_footer_right {
    text-align:left;
    width:30%;
}
.key_value_space{
    width:10px;
}
@media print {
    @page {
        size: 420mm 297mm;
        margin: 0;
    }
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    #print_container {
        page-break-after: avoid;
    }
    .fa-inverse {
        color: #fff !important;
    }
}

.leaflet-control-scale {
    transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
}
.leaflet-control-scale-line {
    border-width:0px 3px 3px;
    border-color:black;
}

#map_north_west,#map_south_west {
    text-align:left
}
#map_north_east,#map_south_east {
    text-align:right
}
