body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.leaflet-container img { max-width:none!important; }

div.print {
    display: none;
}

i[class*=fa-sss] {
    padding: 0.6em 0.8em;
    background: url('/static/sss/images/other_64.png') no-repeat scroll center / contain transparent;
}

i.fa-sss-2_wheel_drive { background-image: url('/static/sss/images/2_wheel_drive_64.png'); }
i.fa-sss-4_wheel_drive_passenger { background-image: url('/static/sss/images/4_wheel_drive_passenger_64.png'); }
i.fa-sss-4_wheel_drive_ute { background-image: url('/static/sss/images/4_wheel_drive_ute_64.png'); }
i.fa-sss-boat { background-image: url('/static/sss/images/boat_64.png'); }
i.fa-sss-comms_bus { background-image: url('/static/sss/images/comms_bus_64.png'); }
i.fa-sss-dozer { background-image: url('/static/sss/images/dozer_64.png'); }
i.fa-sss-fixed_wing_aircraft { background-image: url('/static/sss/images/fixed_wing_aircraft_64.png'); }
i.fa-sss-float { background-image: url('/static/sss/images/float_64.png'); }
i.fa-sss-gang_truck { background-image: url('/static/sss/images/gang_truck_64.png'); }
i.fa-sss-grader { background-image: url('/static/sss/images/grader_64.png'); }
i.fa-sss-heavy_duty { background-image: url('/static/sss/images/heavy_duty_64.png'); }
i.fa-sss-light_unit { background-image: url('/static/sss/images/light_unit_64.png'); }
i.fa-sss-loader { background-image: url('/static/sss/images/loader_64.png'); }
i.fa-sss-person { background-image: url('/static/sss/images/person_64.png'); }
i.fa-sss-rotary_aircraft { background-image: url('/static/sss/images/rotary_aircraft_64.png'); }
i.fa-sss-snorkel { background-image: url('/static/sss/images/snorkel_64.png'); }
i.fa-sss-tender { background-image: url('/static/sss/images/tender_64.png'); }
i.fa-sss-vehicle_control_point { background-image: url('/static/sss/images/vehicle_control_point_64.png'); }
i.fa-sss-closed { background-image: url('/static/sss/images/closed_64.png'); }
i.fa-sss-culvert { background-image: url('/static/sss/images/culvert_64.png'); }
i.fa-sss-ford { background-image: url('/static/sss/images/ford_64.png'); }
i.fa-sss-heavy_duty_rated { background-image: url('/static/sss/images/heavy_duty_rated_64.png'); }
i.fa-sss-light_unit_only { background-image: url('/static/sss/images/light_unit_only_64.png'); }
i.fa-sss-light_unit_only_rated { background-image: url('/static/sss/images/light_unit_only_rated_64.png'); }
i.fa-sss-open_rated { background-image: url('/static/sss/images/open_rated_64.png'); }
i.fa-sss-removed { background-image: url('/static/sss/images/removed_64.png'); }
i.fa-sss-unrated { background-image: url('/static/sss/images/unrated_64.png'); }
i.fa-sss-dec_repeater_tower { background-image: url('/static/sss/images/dec_repeater_tower_64.png'); }

div#sidebar { 
    opacity: 0.9;
    font-size: 0.6em;
}

div#layer-preview {
    position:absolute;
    bottom:60px;
    right:10px;
    z-index:10000;
    opacity:0.9;
}

div.pac-container {
    z-index:10000;
}

div#resources div.device {
    padding: 5px;
}

.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}

.list i.fa, div#catalog i.fa-crosshairs {
    font-size: 1.5em;
}

.list > li:hover,
.list > li.active {
    background-color: #eee;
}

.list > li {
    display:block;
    padding: 5px;
    cursor: zoom-in;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:8px 12px;
}

input.success {
    background-color: rgb(209,255,209);
}

input:focus {
  outline:none;
  border-color:#aaa;
}

div#resources div.device:hover {
    background-color: #eee;
}

.leaflet-tile-pane{
    z-index:10001
}

.leaflet-objects-pane{
    z-index:100000001
}

.leaflet-overlay-pane{
    z-index:110000001
}

.leaflet-shadow-pane{
    z-index:120000001
}

.leaflet-marker-pane{
    z-index:130000001
}

.leaflet-popup-pane{
    z-index:140000001
}
#print_frame{
    position: absolute;
    top: 0mm;
    left:0mm;
    width:0;
    height:0;
    border-style: solid;
    border-width:5px;
    border-color:none;
    z-index:299999999
}
