<!DOCTYPE html>
<html>
<head>
    <title>Department of Biodiversity, Conservation and Attractions Resource Tracking System</title>
    <meta charset="utf-8" />
</head>
    <body>
        <h1>Department of Biodiversity, Conservation and Attractions Resource Tracking System</h1>
        <p>Tracking device logged points: {{ logged_point_count }}</p>
        <p>For access to the Spatial Support System, please visit <b><a href="https://sss.dpaw.wa.gov.au/">https://sss.dpaw.wa.gov.au/</a></b>.</p>
    </body>
</html>
