{% load autoversion%}
<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
    <title>DPaW Resource Tracking</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css" />
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/sss/leaflet-sidebar.css" />
    <link rel="stylesheet" href="/static/sss/leaflet-coordinates.css" />
    <link rel="stylesheet" href="/static/sss/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="/static/sss/leaflet.label.css" />
    <link rel="stylesheet" href="/static/sss/{{"sss.css"|autoversion}}" />
    <link rel="stylesheet" href="/static/sss/{{"sss.print.css"|autoversion}}" />
    <script>
        var page_width = 400;
        var page_height = 207;
        var content_footer_offset = 15;
    </script>
</head>
<body>
    <div id="print_container">
        <div id="content_container"></div>
        <div id="content_header">
            <table>
            <tr>
                <td id="content_header_left">
                    <div id="map_north_west"/>
                </td>
                <td id="content_header_center">
                </td>
                <td id="content_header_right">
                    <div id="map_north_east"/>
                </td>
            </tr>
            </table>
        </div>
        <div id="content_footer">
            <table>
            <tr>
                <td id="content_footer_left"> 
                    <div id="map_south_west"/>
                </td>
                <td id="content_footer_center">
                </td>
                <td id="content_footer_right">
                    <div id="map_south_east"/>
                </td>
            </tr>
            </table>
        </div>
        <div id="print_footer">
            <table>
            <tr>
                <td id="print_footer_left"> 
                    <table>
                    <tr>
                        <th>Zoom Level:</th>
                        <td class="key_value_space"/>
                        <td id="map_zoom_level"></td>
                    </tr>
                    </table>
                </td>
                <td id="print_footer_center">
                    <div id="map_scale"/>
                </td>
                <td id="print_footer_right">
                    <table>
                    <tr>
                        <th>Creator:</th>
                        <td class="key_value_space"/>
                        <td id="map_creator"></td>
                    </tr>
                    <tr>
                        <th>Create Time:</th>
                        <td class="key_value_space"/>
                        <td id="map_create_time"></td>
                    </tr>
                    </table>
                </td>
            </tr>
            </table>
        </div>

    </div>
</body>
</html>
