<!DOCTYPE html>
<html>
<head>
    <title>DBCA Weather Stations</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//static.dbca.wa.gov.au/static/libs/leaflet/1.2.0/leaflet.css" />
    <script src="//static.dbca.wa.gov.au/static/libs/leaflet/1.2.0/leaflet.js"></script>

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id='legend' class='leaflet-control-attribution'>
    <strong style="float:right;">DBCA Weather Stations</strong>
        {% for station in stations %}
        <br><a class="leaflet-control-locate" href="#{{ station.abbreviation }}" onclick="map.panTo(stations['{{ station.abbreviation }}'].getLatLng());">&#9906;</a> {{ station }} (updated {{ station.last_reading_local }}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float:right;" href="{% url 'weather_station' station_id=station.pk %}">View Data</a>
        {% endfor %}
    </div>
    <div id="map"></div>
    <script>
        map = L.map('map').setView([-41.2858, 174.78682], 14);
        var legend = L.control({position: 'topright'});
        legend.onAdd = function (map) {
            return document.getElementById('legend');
        };
        legend.addTo(map);
        mapLink =
            '<a href="//openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            '//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink,
            maxZoom: 18,
            }).addTo(map);
        var stations = {};
        var group = new L.featureGroup();
        {% for station in stations %}
        stations["{{ station.abbreviation }}"] = L.marker([{{ station.location.point.get_y }}, {{ station.location.point.get_x }}]).addTo(group);
        stations["{{ station.abbreviation }}"].bindPopup('{{ station }} (updated {{ station.last_reading_local }}) - <a href="{% url 'weather_station' station_id=station.pk %}">View Data</a>');
        {% endfor %}
        group.addTo(map)
        map.fitBounds(group.getBounds());
    </script>
</body>
</html>
